body {
	background-color: #f9f8f7;
}

.navbar-default {
	position: fixed;
	width: 100%;
	z-index: 1;
}

h3 {
	text-align: center;
	color: black;
}

h1 {
	color: black;
}

hr {
	width: 100%;
	color: #ccc;
}

.container{
	height: 110px;
	border-bottom: 1px solid #ccc;
}

.page-header {
	text-align: center;
	text-transform: uppercase;
	margin-top: 60px;
	border-bottom: 0px;
}

.caption {
	color: black;
}

.col-xs-12, .col-md-6, .col-lg-4 {
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;	
	text-align: center;
}

.crop-img {
	width: 100%;
	margin: 1px;
}

h4 {
	margin-top: -16px;
	color: #e60000;
}

h3 {
	margin-top: 15px;
}

.categories-thumbnail, .animals-thumbnail {
	cursor: pointer;
}