& {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: px(85, $m) px(60, $m) px(115, $m) px(102, $m);
    background-color: $color1;
    font-family: 'PT Sans', sans-serif;

    .internet {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        width: px(568, $m);

        h2 {
            margin: 0 0 px(40, $m);
            padding: 0 0 0 px(14, $m);
            color: $color2;
            font-size: px(46, $m);
            font-weight: bold;

            &::before {
                display: block;
                width: px(130, $m);
                height: px(150, $m);
                margin: 0 0 px(46, $m) px(185, $m);
                background: url('../images/info/internetIcon.svg') no-repeat;
                background-size: contain;
                content: '';
            }

            &::after {
                display: block;
                width: px(56, $m);
                height: px(6, $m);
                margin: px(38, $m) 0 0 px(205, $m);
                border-radius: 2px;
                background-color: $color7;
                content: '';
            }
        }

        & .mobile {
            display: none;
        }

        & .desktop {
            width: px(500, $m);
            margin: 0;
            color: $color3;
            font-size: px(29, $m);
            line-height: 18px;
            text-align: center;
        }

        .app {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: px(510, $m);
            margin: px(50, $m) 0 0 px(26, $m);

            .android {
                display: block;
                width: px(124, $m);
                height: px(124, $m);
                border: px(2, $m) solid $color4;
                border-radius: px(10, $m);
                background: url('../images/info/androidIcon.svg') center no-repeat;
                background-size: px(78, $m);
            }

            & > p {
                width: px(224, $m);
                padding: px(24, $m) 0 px(36, $m);
                background: url('../../images/info/applicationArrows.png') no-repeat;
                background-size: cover;
                color: $color3;
                font-size: px(30, $m);
                font-weight: 700;
                line-height: px(30, $m);
                text-align: center;
            }

            .apple {
                display: block;
                width: px(124, $m);
                height: px(124, $m);
                border: px(2, $m) solid $color5;
                border-radius: px(10, $m);
                background: url('../images/info/appleIcon.svg') center no-repeat;
                background-size: px(66, $m);
            }
        }

        & > p:last-of-type {
            width: px(500, $m);
            margin: px(60, $m) 0 0 px(10, $m);
            color: $color3;
            font-size: px(30, $m);
            text-align: center;
        }

        button {
            display: flex;
            align-items: center;
            width: px(396, $m);
            height: px(84, $m);
            margin: px(50, $m) 0 0;
            padding: 0 0 0 px(102, $m);
            border: px(2, $m) solid $color6;
            border-radius: 5px;
            background: url('../images/info/videoPlayIcon.svg') px(26, $m) center no-repeat;
            background-size: px(40, $m);
            color: $color6;
            font-size: px(28, $m);
            text-decoration: none;

            &:active,
            &:focus {
                border: 0;
                outline: none;
                background: $color6 url('../images/info/videoPlayIcon_hover.svg') 13px center no-repeat;
                background-size: px(40, $m);
                color: $color8;
            }
        }

    }

    .satellite {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: px(550, $m);

        h2 {
            margin: 0 0 px(40, $m);
            padding: 0 px(2, $m) 0 0;
            color: $color2;
            font-size: px(46, $m);
            font-weight: bold;

            &::before {
                display: block;
                width: px(110, $m);
                height: px(150, $m);
                margin: 0 0 px(46, $m) px(135, $m);
                background: url('../images/info/satelliteIcon.svg') no-repeat;
                background-size: contain;
                content: '';
            }

            &::after {
                display: block;
                width: px(56, $m);
                height: px(6, $m);
                margin: px(40, $m) 0 0 px(184, $m);
                border-radius: 2px;
                background-color: $color7;
                content: '';
            }
        }

        .settings {
            li {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                height: px(66, $m);
                color: $color3;

                span {

                    &:first-child {
                        width: px(236, $m);
                        margin: 0 px(10, $m) 0 0;
                        font-size: px(30, $m);
                        font-weight: 700;
                        line-height: px(26, $m);
                        text-align: right;
                    }

                    &:last-child {
                        width: px(270, $m);
                        font-size: px(28, $m);
                    }
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            width: px(444, $m);
            height: px(84, $m);
            margin: px(56, $m) px(24, $m) 0 0;
            padding: 0 0 0 px(110, $m);
            border: px(2, $m) solid $color6;
            border-radius: 5px;
            background: url('../images/info/videoPlayIcon.svg') px(26, $m) center no-repeat;
            background-size: px(40, $m);
            color: $color6;
            font-size: px(28, $m);
            text-decoration: none;

            &:active,
            &:focus {
                border: 0;
                outline: none;
                background: $color6 url('../images/info/videoPlayIcon_hover.svg') 13px center no-repeat;
                background-size: px(40, $m);
                color: $color8;
            }
        }

        p {
            display: none;
        }
    }

    .tv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: px(490, $m);

        h2 {
            margin: 0 0 px(40, $m);
            padding: 0 px(30, $m) 0 0;
            color: $color2;
            font-size: px(46, $m);
            font-weight: bold;

            &::before {
                display: block;
                width: px(125, $m);
                height: px(150, $m);
                margin: 0 0 px(46, $m) px(116, $m);
                background: url('../images/info/tvIcon.svg') no-repeat;
                background-size: contain;
                content: '';
            }

            &::after {
                display: block;
                width: px(56, $m);
                height: px(6, $m);
                margin: px(40, $m) 0 0 px(150, $m);
                border-radius: 2px;
                background-color: $color7;
                content: '';
            }
        }

        p {
            width: px(450, $m);
            color: $color3;
            font-size: px(30, $m);
            line-height: px(38, $m);
            text-align: center;
        }

        button {
            display: none;
        }
    }

    &::after {
        display: block;
        position: absolute;
        bottom: 0;
        left: 3%;
        width: 95%;
        height: px(8, $m);
        border-bottom: px(9, $m) dotted $color9;
        content: '';
    }
}
