@media #{$phoneLandscape} {
    $m: phoneLandscape;

    @import '../mobile';

    & {
        align-items: flex-start;

        .satellite {
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between;
            order: -1;
            width: 100%;
            margin: px(60, $m) 0 0;
            padding: 0 px(60, $m) px(50, $m);

            h2 {
                position: relative;
                width: 100%;
                height: px(163, $m);
                margin: 0 0 px(54, $m);
                padding: 0 0 0 px(6, $m);
                line-height: px(163, $m);

                &::before {
                    position: absolute;
                    top: 0;
                    margin: 0 0 0 px(696, $m);
                }

                &::after {
                    position: absolute;
                    top: 26px;
                    width: px(6, $m);
                    height: px(60, $m);
                    margin: 0 0 0 250px;
                }
            }

            button {
                margin: 0 0 0 px(32, $m);
            }

            .settings {
                display: flex;
                flex-flow: column wrap;
                align-content: space-between;
                order: 2;
                width: px(508, $m);
                height: px(325, $m);
                margin: 0;

                li {
                    flex-flow: column wrap;
                    justify-content: flex-start;
                    width: px(230, $m);
                    height: px(106, $m);

                    span {

                        &:first-child {
                            width: 100%;
                            text-align: left;
                        }

                        &:last-child {
                            width: 100%;
                            line-height: px(50, $m);
                        }
                    }
                }

                .channel {
                    order: 1;
                }

                .flowRate {
                    order: 2;
                }

                .frequency {
                    order: 3;
                }

                .polarization {
                    order: 4;
                }

                .satelliteSet {
                    order: 5;
                }
            }

            p {
                display: block;
                order: 2;
                width: px(390, $m);
                margin: -111px 0 0 14px;
                padding: 0 0 0 px(8, $m);
                color: $color3;
                font-size: px(24, $m);
                font-style: italic;
                line-height: px(30, $m);
                text-align: center;

                &::before {
                    display: block;
                    width: px(24, $m);
                    height: px(78, $m);
                    margin: px(8, $m) auto px(4, $m);
                    background: url('../images/info/setupTunerArrow.png') 0 no-repeat;
                    background-size: contain;
                    content: '';
                }
            }
        }

        .internet {
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            margin: px(80, $m) 0 0;
            padding: 0 px(60, $m) px(100, $m);

            h2 {
                position: relative;
                width: 100%;
                height: px(163, $m);
                margin: 0 0 px(50, $m);
                padding: 0 px(110, $m) 0 0;
                line-height: px(163, $m);
                text-align: right;

                &::before {
                    position: absolute;
                    top: 0;
                    left: px(140, $m);
                    margin: 0;
                }

                &::after {
                    position: absolute;
                    top: 25px;
                    right: px(652, $m);
                    width: px(6, $m);
                    height: px(60, $m);
                    margin: 0;
                }
            }

            & > p:first-of-type {
                width: px(360, $m);
                margin: px(25, $m) 0 0;
                text-align: right;
            }

            .app {
                margin: 0 0 0 px(82, $m);
            }

            &>p:last-of-type {
                width: px(360, $m);
                margin: px(90, $m) 0 0;
                text-align: right;
            }

            button {
                margin: px(80, $m) 0 0 px(82, $m);
            }

        }

        .tv {
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            margin: px(58, $m) 0 0;
            padding: 0 px(60, $m) px(90, $m);

            h2 {
                position: relative;
                width: 100%;
                height: px(163, $m);
                margin: 0 0 px(0, $m);
                padding: 0 0 0 px(68, $m);
                line-height: px(163, $m);

                &::before {
                    position: absolute;
                    top: 0;
                    margin: 0 0 0 px(640, $m);
                }

                &::after {
                    position: absolute;
                    top: 26px;
                    width: px(6, $m);
                    height: px(60, $m);
                    margin: 0 0 0 px(440, $m);
                }
            }

            button {
                margin: px(105, $m) 0 0 px(32, $m);
            }

            p {
                order: 2;
                width: px(508, $m);
                margin: px(45, $m) 0 0;
                text-align: left;
            }

        }
    }

}
