@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('subset-HelveticaNeue-Bold.eot');
	src: url('subset-HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
	src: url('subset-HelveticaNeue-Bold.woff2') format('woff2'),
	src: url('subset-HelveticaNeue-Bold.woff') format('woff'),
	src: url('subset-HelveticaNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
