& {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: px(80, $k) px(60, $k) px(112, $k) px(102, $k);
    background-color: $color1;
    font-family: 'PT Sans', sans-serif;


    .flex-block {
        display: inherit;
        flex-direction: column;
        align-items: center;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .header--heading {
        color: $color2;
        font-size: px(44, $k);
        font-weight: bold;
    }

    .header--divider--horizontal {
        width: px(50, $k);
        height: px(6, $k);
        border-radius: 2px;
        background-color: $color7;
    }

    .header--divider--vertical {
        display: none;
    }

    .button {
        display: flex;
        align-items: center;
        border: px(2, $k) solid $color6;
        border-radius: 5px;
        text-decoration: none;
    }

    .button--white {
        width: px(380, $k);
        height: px(76, $k);
        background: px(24, $k) center no-repeat;
        background-size: px(36, $k);
        color: $color6;
    }

    .button--blue {
        width: px(420, $k);
        height: px(76, $k);
        background: $color6 px(26, $k) center no-repeat;
        background-size: px(36, $k);
        color: $color8;
    }

    //INTERNET BLOCK
    .internet {
        order: 3;
        width: px(568, $k);

        &::after {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 95%;
            margin: 0 0 0 3%;
            border-bottom: px(8, $k) dotted $color9;
            content: '';
        }
    }

    .internet .header {
        height: px(278, $k);
        margin: 0 0 px(36, $k);
    }

    .header--internet-icon {
        width: px(126, $k);
        height: px(148, $k);
        margin: 0 0 0 px(38, $k);
    }

    .header--internet-heading {
        padding: 0 0 0 px(22, $k);
    }

    .search-application {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: px(520, $k);
        height: px(246, $k);
    }

    .search-application--mobile-text {
        display: none;
    }

    .search-application--desktop-text {
        width: px(500, $k);
        margin: 0 0 0 px(14, $k);
        color: $color3;
        font-size: px(28, $k);
        text-align: center;
    }

    .search-application--download-app {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: px(488, $k);
        height: px(130, $k);
        margin: 0 0 0 px(32, $k);
    }

    .search-application--download-app-text {
        width: px(200, $k);
        padding: px(34, $k) 0 px(32, $k);
        background: url('../../images/applicationArrows.png') no-repeat;
        background-size: px(200, $k) px(120, $k);
        color: $color3;
        font-size: px(28, $k);
        font-weight: 700;
        line-height: px(30, $k);
        text-align: center;
    }

    .search-application--android-icon {
        width: px(78, $k);
        padding: px(14, $k) px(18, $k) px(12, $k) px(20, $k);
        border: px(2, $k) solid $color4;
        border-radius: 5px;
    }

    .search-application--apple-icon {
        width: px(66, $k);
        padding: px(14, $k) px(26, $k) px(20, $k) px(24, $k);
        border: px(2, $k) solid $color5;
        border-radius: 5px;
    }

    .watch-online {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: px(160, $k);
        margin: px(48, $k) 0 0 px(8, $k);
    }

    .watch-online--text {
        width: px(500, $k);
        color: $color3;
        font-size: px(28, $k);
        text-align: center;
    }

    .watch-online--button {
        background-image: url('../../images/videoPlayIcon.svg');
    }

    .watch-online--button-text {
        padding: 0 0 px(4, $k) px(98, $k);
        font-size: px(28, $k);
    }

    //SATELLITE BLOCK
    .satellite {
        align-items: center;
        order: 1;
        width: px(550, $k);
    }

    .satellite .header {
        height: px(278, $k);
        margin: 0 0 px(34, $k);
    }

    .header--satellite-icon {
        width: px(106, $k);
        height: px(148, $k);
        margin: 0 px(76, $k) 0 0;
    }

    .header--satellite-heading {
        margin: 0 px(12, $k) 0 0;
    }

    .satellite .header--divider--horizontal {
        margin: 0 px(30, $k) 0 0;
    }

    .satellite--setup {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: px(314, $k);
        color: $color3;
        font-size: px(28, $k);
    }

    .satellite--setup-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .satellite--setup-label {
        width: px(244, $k);
        margin: 0 px(12, $k) 0 0;
        font-weight: 700;
        text-align: right;
    }

    .satellite--setup-data {
        width: px(286, $k);
        line-height: px(42, $k);
        text-align: left;
    }

    .satellite--setup-video-button {
        margin: px(62, $k) px(32, $k) 0 0;
        background-image: url('../../images/videoPlayIcon_hover.svg');
    }

    .satellite--setup-video-button-text {
        padding: 0 0 px(4, $k) px(106, $k);
        font-size: 14px;

        &::after {
            display: inline-block;
            content: '?';
        }
    }

    .satellite--setup-video-button-description {
        display: none;
    }

    //TV-CABLE BLOCK
    .tv-cable {
        order: 2;
        width: px(490, $k);
    }

    .tv-cable .header {
        height: px(278, $k);
        margin: 0 0 px(36, $k);
    }

    .header--tv-cable-icon {
        width: px(122, $k);
        height: px(148, $k);
        margin: 0 0 0 px(4, $k);
    }

    .header--tv-cable-heading {
        padding: 0 px(30, $k) 0 0;
    }

    .tv-cable .header--divider--horizontal {
        margin: 0 0 0 px(10, $k);
    }

    .tv-cable-operators--text {
        width: px(450, $k);
        color: $color3;
        font-size: px(28, $k);
        line-height: px(36, $k);
        text-align: center;
    }

    .tv-cable-operators--text::after {
        display: block;
        width: px(70, $k);
        height: px(2, $k);
        margin: px(140, $k) auto 0;
        background-color: $color10;
        content: '';
    }

    .tv-cable-operators-search--button {
        display: none;
    }

    .tv-cable-operators-search-on-map {
        width: px(350, $k);
        margin: px(34, $k) px(42, $k) 0 px(58, $k);
        color: $color3;
        font-size: px(28, $k);
        font-style: italic;
        font-weight: 700;
    }

    .tv-cable-operators-search--button-text {
        padding: 0 0 0 px(96, $k);
        font-size: px(28, $k);
    }
}
