$color1: #f3f4f4; //bodyColor
$color2: #516569; //headingColor
$color3: #6e7b7d; //textColor
$color4: #7fbf10; //androidColor
$color5: #6e7b7d; // $appleColor
$color6: #2793b2; // $buttonColor
$color7: #f9ca11; //$yellow
$color8: #fff; //white
$color9: #e1e1e0; //dots
$color10: #dfe0e1; // tv-cable-divider
