body {
	margin: 0px;
	padding: 0px;
}

.border {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 20px;
	padding: 0px;
	height: 522px;
	width: 484px;
	border: 8px solid #fff;
}

table {
	position: absolute;
	margin: 20px;
	height: 542px;
	width: 500px;
	border-collapse: collapse;
}

table .first-row {
	height: 46px;
}

table .second-row {
	height: 128px;
}

table .third-row {
	height: 128px;
}

table .fourth-row {
	height: 60px;
}

table .fifth-row {
	height: 60px;
}

table .sixth-row {
	height: 32px;
}

table .seventh-row {
	height: 32px;
}

td {
	border: 8px solid #000;
}

.yellow {
	background-color: #eedf17;
}

.orange {
	background-color: #ee600f;
}

.black {
	background-color: #1b1b1b;
}

.blue {
	background-color: #0d3778;
}
