@import '../../mq';

@media #{$phoneLandscape} {
    $k: .0880288;
    @import '../mobile';

    .flex-block {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 0 px(60, $k);
    }

    .header {
        flex-direction: row;
    }

    .header--divider--horizontal {
        display: none;
    }

    .header--divider--vertical {
        display: block;
        order: 2;
        width: px(6, $k);
        height: px(60, $k);
        margin: px(10, $k) 0 0;
        border-radius: 2px;
        background-color: $color7;
    }

    // INTERNET BLOCK
    .internet {
        order: 2;
        width: 100%;
    }

    .internet .header {
        align-items: center;
        width: px(1016, $k);
        height: px(272, $k);
        margin: px(20, $k) 0 0;
    }

    .header--internet-icon {
        order: 1;
        margin: px(8, $k) px(8, $k) 0 px(140, $k);
    }

    .header--internet-heading {
        order: 3;
        margin: 0 px(108, $k) 0 0;
    }

    .search-application {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: px(120, $k);
        margin: 0 0 px(70, $k);
    }

    .search-application--mobile-text {
        width: px(420, $k);
        margin: 0;
        text-align: right;
    }

    .search-application--download-app {
        width: px(518, $k);
        margin: px(4, $k) px(114, $k) 0 0;
    }

    .watch-online {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: px(150, $k);
    }

    .watch-online--text {
        width: px(418, $k);
        margin: px(18, $k) 0 0;
        text-align: right;
    }

    .watch-online--button {
        margin: px(12, $k) 0 0 px(86, $k);
    }

    //SATELLITE BLOCK
    .satellite {
        align-items: flex-start;
        order: 1;
        width: 100%;
    }

    .satellite .header {
        order: 1;
        width: px(1016, $k);
        height: px(272, $k);
        margin: 0;
    }

    .header--satellite-heading {
        order: 1;
        width: px(442, $k);
    }

    .header--satellite-icon {
        order: 3;
        width: px(124, $k);
        height: px(162, $k);
        margin: px(10, $k) px(198, $k) 0 px(118, $k);
    }

    .satellite--setup {
        flex-direction: column;
        align-content: space-between;
        justify-content: flex-start;
        order: 3;
        width: 50%;
        height: px(320, $k);
    }

    .satellite--setup-info {
        flex-direction: column;
        justify-content: flex-start;
        height: px(106, $k);
    }

    .satellite--setup-label {
        width: 100%;
        margin: 0;
        line-height: px(38, $k);
        text-align: left;
    }

    .satellite--setup-data {
        width: 100%;
        line-height: px(34, $k);
    }

    .satellite--setup-info-channel {
        order: 1;
        width: px(300, $k);
    }

    .satellite--setup-info-speed {
        order: 2;
        width: px(300, $k);
    }

    .satellite--setup-info-frequency {
        order: 3;
        width: px(300, $k);
    }

    .satellite--setup-info-polarization {
        order: 4;
        width: px(266, $k);
    }

    .satellite--setup-info-satellite {
        order: 5;
        width: px(266, $k);
    }

    .satellite--setup-video {
        display: flex;
        flex-direction: column;
        order: 2;
        width: 50%;
    }

    .satellite--setup-video-button {
        margin: px(6, $k) auto 0;
    }

    .satellite--setup-video-button-text {
        padding: 0 0 px(2, $k) px(82, $k);
    }

    .satellite--setup-video-button-description {
        display: block;
        width: px(390, $k);
        margin: 0 auto;
        padding: 0 0 0 px(8, $k);
        color: $color3;
        font-size: px(24, $k);
        font-style: italic;
        line-height: px(30, $k);
        text-align: center;

        &::before {
            display: block;
            width: px(24, $k);
            height: px(78, $k);
            margin: px(8, $k) auto px(4, $k);
            background: url('../../../images/setupTunerArrow.png') 0 no-repeat;
            background-size: contain;
            content: '';
        }
    }

    //TV-CABLE
    .tv-cable {
        align-content: flex-start;
        order: 3;
        width: 100%;
        height: px(576, $k);
    }

    .tv-cable .header {
        width: px(1016, $k);
        height: px(258, $k);
        margin: px(8, $k) 0 0;
    }

    .header--tv-cable-heading {
        order: 1;
        width: px(444, $k);
    }

    .header--divider--vertical {
        order: 2;
    }

    .header--tv-cable-icon {
        order: 3;
        height: px(162, $k);
        margin: 0 px(170, $k) 0 px(134, $k);
    }

    .tv-cable-operators--text {
        order: 2;
        width: px(510, $k);
        text-align: left;
    }

    .tv-cable-operators-search {
        order: 1;
        margin: px(8, $k) px(94, $k) 0 px(92, $k);
    }

    .tv-cable-operators {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
}
