@import '../../mq';

@media #{$tabletPortrait} {
    $k: .065105;
    @import '../desktop';

    & {
        margin: 0;
        padding: px(100, $k) px(106, $k);
    }

    .header--divider--horizontal {
        width: px(60, $k);
    }

    .button--white {
        width: px(456, $k);
        height: px(108, $k);
        background-position: px(44, $k) center;
        background-size: px(40, $k);
    }

    .button--blue {
        width: px(456, $k);
        height: px(108, $k);
        background-position: px(38, $k) center;
        background-size: px(40, $k);
    }

    //INTERNET BLOCK
    .internet {
        order: 2;
        width: px(640, $k);

        &::after {
            display: none;
        }
    }

    .internet .header {
        height: px(392, $k);
        margin: 0 0 px(62, $k) px(34, $k);
    }

    .header--internet-icon {
        width: px(162, $k);
        height: px(192, $k);
        margin: px(6, $k) 0 px(4, $k) px(48, $k);
    }

    .header--internet-heading {
        padding: 0;
        font-size: px(50, $k);
    }

    .search-application {
        width: 100%;
        height: px(306, $k);
    }

    .search-application--desktop-text {
        width: px(600, $k);
        margin: 0 0 0 px(30, $k);
        font-size: px(34, $k);
    }

    .search-application--download-app {
        width: px(566, $k);
        height: auto;
        margin: 0 0 0 px(48, $k);
    }

    .search-application--download-app-text {
        width: px(240, $k);
        height: px(76, $k);
        margin: 0 px(8, $k) 0 0;
        padding: px(38, $k) 0;
        background-size: px(240, $k) px(148, $k);
        font-size: px(34, $k);
        line-height: px(34, $k);
    }

    .search-application--android-icon {
        width: px(106, $k);
        padding: px(10, $k) px(16, $k) px(10, $k) px(18, $k);
    }

    .search-application--apple-icon {
        width: px(80, $k);
        padding: px(20, $k) px(30, $k) px(26, $k) px(32, $k);
    }

    .watch-online {
        height: px(248, $k);
        margin: px(58, $k) 0 0;
        padding: 0 0 0 px(32, $k);
    }

    .watch-online--text {
        width: px(600, $k);
        font-size: px(34, $k);
    }

    .watch-online--button-text {
        padding: 0 0 0 px(114, $k);
        font-size: px(34, $k);
    }

    //SATELLITE BLOCK
    .satellite {
        width: px(680, $k);
    }

    .satellite .header {
        height: px(392, $k);
        margin: 0 0 px(62, $k);
    }

    .header--satellite-icon {
        width: px(136, $k);
        height: px(192, $k);
        margin: px(4, $k) px(142, $k) px(6, $k) 0;
    }

    .header--satellite-heading {
        margin: 0 px(92, $k) 0 0;
        font-size: px(50, $k);
    }

    .satellite .header--divider--horizontal {
        margin: 0 px(96, $k) 0 0;
    }

    .satellite--setup {
        height: auto;
        font-size: px(34, $k);
    }

    .satellite--setup-info {
        height: px(90, $k);
    }

    .satellite--setup-label {
        width: px(270, $k);
        line-height: px(48, $k);
    }

    .satellite--setup-data {
        width: px(378, $k);
        line-height: px(48, $k);
    }

    .satellite--setup--desktop-data {
        display: none;
    }

    .satellite--setup-video-button {
        margin: px(50, $k) px(94, $k) 0 0;
    }

    .satellite--setup-video-button-text {
        padding: 0 0 px(4, $k) px(102, $k);
        font-size: px(34, $k);

        &::after {
            display: none;
        }
    }

    .satellite--setup-video-button-description {
        display: none;
    }

    //TV-CABLE BLOCK
    .tv-cable {
        position: relative;
        order: 3;
        width: 100%;
        margin: px(220, $k) 0 0;
        border-top: 3px dotted $color9;

        &::before {
            display: block;
            position: absolute;
            top: px(-106, $k);
            left: calc(50% - 64px);
            width: px(254, $k);
            height: px(200, $k);
            background-color: $color1;
            content: '';
            z-index: 1;
        }
    }

    .tv-cable .header {
        height: px(266, $k);
        margin: 0 0 px(72, $k);
    }

    .header--tv-cable-icon {
        width: px(160, $k);
        height: px(192, $k);
        margin: px(-126, $k) 0 0;
        z-index: 10;
    }

    .header--tv-cable-heading {
        padding: 0;
        font-size: px(52, $k);
    }

    .tv-cable-operators--text {
        width: px(1100, $k);
        font-size: px(34, $k);
        line-height: px(44, $k);

        &::after {
            display: none;
        }
    }

    .tv-cable-operators-search-on-map {
        display: none;
    }
}
