body,
section,
header,
article,
footer,
nav,
div,
img,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

section {
    width: 1060px;
    margin: 0 auto;
    padding: 50px 48px 60px 46px;
    background-color: #fff;
    box-shadow: 0 0 1px 2px #dbdbdb;
    box-sizing: border-box;
}

/* ********* HEADER ********* */
header {
    margin: 0 -1px 35px;
}

.header_logo-link {
    display: block;
    width: 143px;
}

.header_logo-image {
    height: 40px;
}

/* ********* TOP NAVIGATION ********* */
.top-nav {
    width: 100%;
    height: 40px;
    background: #5e5e5e;
    background: -webkit-linear-gradient(#5e5e5e, #444343);
    background: -o-linear-gradient(#5e5e5e, #444343);
    background: -moz-linear-gradient(#5e5e5e, #444343);
    background: linear-gradient(#5e5e5e, #444343);
    font-size: 0;
}

.top-nav_link {
    display: block;
    height: 40px;
    float: left;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    color: #fff;
    font-size: 15px;
    line-height: 38px;
    text-decoration: none;
    text-shadow: .5px .8px 1px rgba(0, 0, 0, .5);
}

.top-nav_link_main {
    width: 120px;
    padding-left: 23px;
}

.top-nav_link_goods {
    width: 98px;
    margin-left: -1px;
    padding-left: 1px;
    text-align: center;
}

.top-nav_link_about-us {
    width: 166px;
    margin-left: -1px;
    padding-left: 1px;
    text-align: center;
}

.top-nav_link_contacts {
    width: 113px;
    margin-left: -1px;
    padding-left: 1px;
    text-align: center;
}

.top-nav_link:hover {
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    background: #494949;
    background: -webkit-linear-gradient(#494949, #2e2e2e);
    background: -o-linear-gradient(#494949, #2e2e2e);
    background: -moz-linear-gradient(#494949, #2e2e2e);
    background: linear-gradient(#494949, #2e2e2e);
}

.top-nav_active-link {
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    background: #494949;
    background: -webkit-linear-gradient(#494949, #2e2e2e);
    background: -o-linear-gradient(#494949, #2e2e2e);
    background: -moz-linear-gradient(#494949, #2e2e2e);
    background: linear-gradient(#494949, #2e2e2e);
}

/* ********* SIDE NAVIGATION ********* */
.content {
    position: relative;
    padding-top: 40px;
}

/* ********* CONTENT ********* */
/* ********* side navigation ********* */
.side-nav {
    position: absolute;
    top: 40;
    left: 0;
    width: 238px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
}

.side-nav_link {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 22px;
    border-bottom: 1px solid #c8c8c8;
    color: #656363;
    font-size: 13px;
    line-height: 39px;
    text-decoration: none;
    box-sizing: border-box;
}

.side-nav_link_laptops {
    height: 39px;
    padding-top: 1px;
    letter-spacing: .3px;
}

.side-nav_link_tablets {
    line-height: 40px;
}

.side-nav_link_for-cars {
    height: 39px;
    border: 0;
}

.side-nav_link:hover {
    padding-left: 35px;
    background-color: #f9f9f9;
    color: #2c2c2c;
    text-shadow: 1px 0 1px #cecece;
}

.side-nav_active-link {
    padding-left: 35px;
    background-color: #f9f9f9;
    color: #2c2c2c;
    text-shadow: 1px 0 1px #cecece;
}

/* ********* article ********* */
article {
    width: 676px;
    margin-right: 2px;
    float: right;
}

.article_img {
    width: 100%;
    border: 1px solid #c8c8c8;
}

.article_text {
    padding: 28px 24px 0;
    color: #2c2c2c;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: .07px;
    line-height: 22px;
    text-shadow: 1px 0 1px #d3d3d3;
}

/* ********* FOOTER ********* */
footer {
    width: 100%;
    height: 40px;
    margin-top: 53px;
    background-color: #e1e1e1;
}

/* ********* bottom navigation ********* */
.bottom-nav {
    width: 70%;
    float: left;
}

.bottom-nav_link {
    display: inline-block;
    color: #2c2c2c;
    font-size: 13px;
    line-height: 40px;
    text-decoration: none;
    text-shadow: 1px 0 1px #bbb;
}

.bottom-nav_link_main {
    padding: 0 25px;
}

.bottom-nav_link_goods {
    padding: 0 65px 0 64px;
}

.bottom-nav_link_about-us {
    padding: 0 25px;
}

.bottom-nav_link_contacts {
    padding: 0 65px;
}

.bottom-nav_link:hover {
    text-decoration: underline;
}

.bottom-nav_active-link {
    text-decoration: underline;
}

/* ********* copyright ********* */
.copyright {
    width: 205px;
    float: right;
    color: #2d2d2d;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
}

/* ********* clearfix ********* */
.clearfix::after {
    display: block;
    clear: both;
    content: '';
}
