body,
section,
div,
p,
h1,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    box-sizing: border-box;
}

section {
    width: 432px;
    margin: 4px auto 43px;
    padding: 25px 40px 50px;
    background: #fff;
    -moz-box-shadow: 0 0 5px 1px #ccc;
    -webkit-box-shadow: 0 0 5px 1px #ccc;
    box-shadow: 0 0 5px 1px #ccc;
}

.container {
    width: 399px;
    margin: 0 auto;
    padding: 25px 0 16px 13px;
    border-bottom: 1px solid #000;
}

.name {
    padding-right: 12px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.photo {
    display: block;
    width: 134px;
    height: 128px;
    margin: 20px auto 13px;
    padding-right: 20px;
}

.main-text {
    font-size: 18px;
}

.position-text {
    letter-spacing: .22px;
}

.reasons {
    margin: 0 0 32px;
    letter-spacing: .3px;
}

.reasons-list {
    margin: 0 0 4px 24px;
    font-size: 18px;
}

.reasons-item {
    margin-top: 8px;
    line-height: 18px;
}

.phone,
.phone-number,
.vk,
.vk-link,
.feedback {
    line-height: 17px;
}

.phone {
    margin: 2px 0 9px;
    letter-spacing: .38px;
}

.phone-number {
    margin: 0 0 34px;
    letter-spacing: .3px;
}

.vk {
    margin: 0 0 10px;
    letter-spacing: .3px;
}

.vk-link {
    display: inline-block;
    color: #0000f3;
    text-decoration: underline;
}

.feedback-container {
    border: 0;
}

.feedback {
    margin: 2px 0 9px;
    letter-spacing: .32px;
}

.feedback-my-feedback {
    letter-spacing: .15px;
}
