body,
section,
div,
p,
h1,
ul,
li,
a
    margin: 0
    padding: 0

a
    display: block

body
    background: #eee
    font-family: 'Times New Roman', Times, serif
    font-size: 17px

section
    width: 512px
    margin: 4px auto 43px
    padding: 50px 40px 66px
    background: #fff
    -moz-box-shadow: 0 0 5px 1px #ccc
    -webkit-box-shadow: 0 0 5px 1px #ccc
    box-shadow: 0 0 5px 1px #ccc
    box-sizing: border-box

.container:nth-child(1),
.container:nth-child(2),
.container:nth-child(3)
    width: 412px
    border-bottom: 1px solid #000
    box-sizing: border-box

.container:nth-child(2),
.container:nth-child(3),
.container:nth-child(4)
    margin: 0 0 0 10px

.container:nth-child(1)
    margin: 0 auto

.name
    font-size: 22px
    font-weight: bold
    text-align: center

.image
    display: block
    width: 134px
    height: 128px
    margin: 21px auto 12px
    padding-right: 8px

.position-text
    padding: 0 10px 17px 13px
    letter-spacing: .22px

.container:nth-child(2)
    padding: 26px 0 20px 13px
    box-sizing: border-box

.reasons-text
    margin: 0 0 32px
    border: 0
    letter-spacing: .3px

.reasons-list
    margin: 0 0 0 24px
    font-size: 18px

.reasons-item
    margin-top: 8px
    line-height: 18px

.container:nth-child(3)
    padding: 27px 0 19px 13px
    box-sizing: border-box

.phone-text,
.phone-number,
.vk-text,
.vk-link,
.feedback-text
    line-height: 17px

.phone-text
    margin: 0 0 9px
    letter-spacing: .38px

.phone-number
    margin: 0 0 34px
    letter-spacing: .3px

.vk-text
    margin: 0 0 10px
    letter-spacing: .3px

.vk-link
    color: #0000f3
    text-decoration: underline

.container:nth-child(4)
    padding: 27px 0 0 13px
    box-sizing: border-box

.feedback-text
    margin: 0 0 10px
    letter-spacing: .32px

.feedback-my-feedback
    letter-spacing: .15px
