*
  margin: 0px
body
    background: #eeeeee
    box-sizing: border-box
    font-family: "Times New Roman", Times, serif
section
    height: 95vh
    width: 512px
    margin: 0 auto
    margin-top: 5px
    box-sizing: border-box
    box-shadow: 0px 0px 5px 1px #ccc
    padding: 40px
    background: #ffffff
    h1
        margin-top: -10px
        text-align: center
        font-weight: bold
        font-size: 18px
    .image
        height: 135px
        width: 117px
        margin: 0px auto
        margin-top: 10px
        background:
            image: url("../images/photo.jpg")
            position: center
            repeat: no-repeat
    .position
        margin-top: 0px
        margin-bottom: 0px
        padding: 5px
        border-bottom: 1px solid black
        font-size: 16px
        line-height: 28px
        font-weight: normal
    .reasons
        border-bottom: 1px solid black
        .why
            margin: 10px 0px 10px 10px
            border: 0px
            font-size: 16px
            line-height: 40px
        ul
            margin: 10px 0px 20px -5px
            font-size: 14px
            li
              margin-top: 5px
    .contacts
        border-bottom: 1px solid black
        font-size: 14px
        .phone,
        .vk
            margin: 20px 0px 10px 10px
        .vk
            a
                color: blue
                text-decoration: underline
    .feedback
        p
          margin: 20px 0px 10px 10px
          font-size: 14px
          line-height: 25px
